<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="104857560"/>
        <property name="maxUploadSizePerFile" value="2097152"/>
        <property name="uploadTempDir" value="file:/C:/upload/tmp"/>
        <property name="maxInMemorySize" value="10485756"/>
    </bean>

</beans>
